.autotag-dnd .left,.autotag-dnd .right{
 width: 45%;
}
.autotag-dnd div{
 border:solid 1px #bbb;
 padding: 5px;
 margin: 5px;
 width:45%;
 height:300px;
 overflow:auto;
 float:left;
}
.autotag-dnd li{
 z-index:100;
 margin:1px;
 border: dotted 1px #ccc;
 padding:0 0 0 5px;
 background: inherit;
 width:90%px;
}
.autotag-dnd-drop-hover{
 z-index:-1;
}
.autotag-dnd-drop-active{
 z-index:-1;
}